@font-face
  font-family: 'UniNeue'
  src: url('../fonts/UniNeue/UniNeueRegular.woff2') format("woff2"), url('../fonts/UniNeue/UniNeueRegular.woff') format("woff")
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: 'UniNeue'
  src: url('../fonts/UniNeue/UniNeueLight-Italic.woff2') format("woff2"), url('../fonts/UniNeue/UniNeueLight-Italic.woff') format("woff")
  font-weight: 300
  font-style: italic
  font-display: swap

@font-face
  font-family: 'UniNeue'
  src: url('../fonts/UniNeue/UniNeueLight.woff2') format("woff2"), url('../fonts/UniNeue/UniNeueLight.woff') format("woff")
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: 'UniNeue'
  src: url('../fonts/UniNeue/UniNeueBook.woff2') format("woff2"), url('../fonts/UniNeue/UniNeueBook.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'UniNeue'
  src: url('../fonts/UniNeue/UniNeueHeavy.woff2') format("woff2"), url('../fonts/UniNeue/UniNeueHeavy.woff') format("woff")
  font-weight: 900
  font-style: normal
  font-display: swap

@font-face
  font-family: 'UniNeue'
  src: url('../fonts/UniNeue/UniNeueBold.woff2') format("woff2"), url('../fonts/UniNeue/UniNeueBold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'UniNeue'
  src: url('../fonts/UniNeue/UniNeueRegular-Italic.woff2') format("woff2"), url('../fonts/UniNeue/UniNeueRegular-Italic.woff') format("woff")
  font-weight: 500
  font-style: italic
  font-display: swap