@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	position: fixed
	left: 0
	right: 0
	top: 0
	padding: 15px 0
	background: rgba(0, 0, 0, 0.6)
	box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05)
	transform: translate(0 0)
	transition: all .3s
	color: #fff
	z-index: 100

	a
		color: #fff


	&-fixed
		position: fixed
		left: 0
		right: 0
		top: 0
		padding: 10px 0
		z-index: 9999
		transform: translate(0 0)
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)

		&+.content
			padding-top: 90px

	&-wrap
		display: flex
		align-items: center
		justify-content: space-between

	&-search

		&__links
			list-style: none

			li
				display: inline-block
				margin-bottom: 5px
				margin-right: 20px

				&:last-child
					margin-right: 0

				a
					font-size: 13px
					font-weight: 500

		&__form
			position: relative
			width: 270px

			input
				height: 33px
				width: 100%
				line-height: 33px
				padding: 0 35px 0 15px
				outline: none
				background-color: transparent
				border: 1px solid $main

			::-webkit-input-placeholder 
				color: #fff
				font-size: 13px
				font-weight: 300
				font-style: italic

			:-moz-placeholder 
				color: #fff
				font-size: 13px
				font-weight: 300
				font-style: italic


			::-moz-placeholder 
				color: #fff
				font-size: 13px
				font-weight: 300
				font-style: italic


			:-ms-input-placeholder 
				color: #fff
				font-size: 13px
				font-weight: 300
				font-style: italic

			button
				position: absolute
				right: 0
				top: 0
				width: 33px
				height: 33px
				display: flex
				align-items: center
				justify-content: center
				background: $main
				outline: none
				border: 0

	&-call
		display: flex
		align-items: flex-start

		>span
			font-size: 13px
			font-weight: 500

		&__wrap

		&__item
			margin-bottom: 5px

			&:last-child
				margin-bottom: 0

		&__tel
			padding-left: 15px
			display: flex
			align-items: center

			.icon
				margin-right: 8px

			a
				font-size: 24px
				font-weight: bold

		&__messenger
			display: flex
			align-items: center

			a
				margin-right: 8px

			span
				padding-left: 5px
				font-size: 19px
				font-weight: 500

			.icon
				display: block

	&-cart

		&__links
			list-style: none

			li
				display: inline-block
				margin-bottom: 5px
				margin-right: 20px

				&:last-child
					margin-right: 0

				a
					font-size: 13px
					font-weight: 500

		&__wrap
			display: flex

		&__count
			display: flex
			align-items: center
			justify-content: center
			width: 142px
			border: 1px solid $main
			border-right: 0
			font-size: 12px
			font-weight: 300
			font-style: italic

		&__icon
			width: 33px
			height: 33px
			margin-left: -0.03em
			display: flex
			align-items: center
			justify-content: center
			background: $main



.btn
	position: relative
	display: inline-block
	padding: 10px 30px
	border: none
	outline: none
	font-size: 15px
	text-transform: uppercase
	color: #fff
	font-weight: bold
	background: $main
	box-shadow: inset 0px -3px 0 0px rgba(0,0,0,0.15)

	&:hover, &:focus
		opacity: 1


	&-transparent
		padding: 5px 16px
		font-size: 16px
		font-weight: 500
		background-color: transparent
		border: 1px solid $main

	&-yellow
		padding: 8px 30px
		font-size: 18px
		font-weight: 500
		box-shadow: none
		background: #fcd844
		text-transform: none
		color: #000
		

.icon
	display: inline-block

	&-zoom
		width: 20px
		height: 20px
		background: url(../img/zoom-ic.png) no-repeat

	&-phone
		width: 19px
		height: 19px
		background: url(../img/phone-ic.png) no-repeat

	&-whatsapp
		width: 21px
		height: 20px
		background: url(../img/whatsapp-ic.png) no-repeat

	&-telegram
		width: 23px
		height: 23px
		background: url(../img/telegram-ic.png) no-repeat

	&-viber
		width: 23px
		height: 24px
		background: url(../img/viber-ic.png) no-repeat

	&-cart
		width: 21px
		height: 19px
		background: url(../img/cart-ic.png) no-repeat

	&-prev
		width: 40px
		height: 40px
		background: url(../img/prev-ic.png) no-repeat		

	&-next
		width: 40px
		height: 40px
		background: url(../img/next-ic.png) no-repeat

	&-star
		width: 11px
		height: 11px
		background: url(../img/star-ic.png) no-repeat

	&-raiting
		width: 11px
		height: 10px
		background: url(../img/raiting-ic.png) no-repeat

	&-share
		width: 11px
		height: 11px
		background: url(../img/share-ic.png) no-repeat

	&-facebook
		width: 26px
		height: 26px
		background: url(../img/facebook-ic.png) no-repeat

	&-ok
		width: 25px
		height: 25px
		background: url(../img/ok-ic.png) no-repeat

	&-vk
		width: 27px
		height: 27px
		background: url(../img/vk-ic.png) no-repeat

	&-instagram
		width: 25px
		height: 25px
		background: url(../img/instagram-ic.png) no-repeat

	&-question
		display: inline-flex
		align-items: center
		justify-content: center
		width: 15px
		height: 15px
		border-radius: 50%
		background: $main
		color: #fff
		font-weight: 900
		font-size: 11px

	&-left
		display: inline-block
		width: 12px
		height: 12px
		border-left: 1px solid $main
		border-bottom: 1px solid $main
		transform: rotate(45deg)

	&-right
		display: inline-block
		width: 12px
		height: 12px
		border-right: 1px solid $main
		border-bottom: 1px solid $main
		transform: rotate(-45deg)
	
	&-bell
		width: 12px
		height: 15px
		background: url(../img/bell-ic.png) no-repeat

	&-del
		position: relative
		top: -1px
		width: 32px
		height: 32px
		background: $main
		vertical-align: middle

		&:before
			content: '+'
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			align-items: center
			justify-content: center
			color: #fff
			font-size: 32px
			font-weight: 300
			transform: rotate(45deg)


.plus-minus
	display: flex
	align-items: center


	&__btn
		outline: none
		border: none
		background-color: transparent
		padding: 0

	input
		width: 16px
		text-align: center
		font-size: 16px
		font-weight: 500
		color: #6d6d6d
		outline: none
		border: none
		background-color: transparent





.banner
	position: relative
	margin: 0 auto 0
	max-width: 1920px

	&-overlay
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		display: flex
		align-items: center
		padding-top: 105px


		&__text
			max-width: 480px

			.h1, h1
				margin-bottom: 45px

	&-tags
		margin-top: 80px
		list-style: none

		li
			display: inline-block
			margin-right: 18px
			margin-bottom: 18px

			a
				display: block
				padding: 5px 12px
				font-size: 12px
				text-transform: uppercase
				font-weight: 500
				border: 1px solid #000


.section
	margin-bottom: 180px

	.h2, h2
		span
			position: relative

			&::before
				content: ''
				position: absolute
				bottom: 2px
				left: 0
				right: 0
				border-bottom: 2px solid #dedfde

		&+.product-slider
			margin-top: 70px

	&-center
		margin-bottom: 180px

		.h2, h2
			margin-bottom: 70px
			font-size: 37px
			text-align: center

		.h3, h3
			margin-bottom: 20px
			font-size: 21px




	.row
		margin-left: -25px
		margin-right: -25px

		[class^="col"]
			padding-left: 25px
			padding-right: 25px




.tag-list
	margin: 15px 0 70px
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 14px
		color: #6f7076

		+ li::before
			content: "/"
			padding: 0 10px 0 8px
			font-size: 14px

		a
			position: relative
			font-weight: 300
			color: #6f7076

.slick-slide
	outline: none


.project
	margin-top: 180px

	&-slider

		&__item
			position: relative
			padding: 10px 0
			transition: all .3s

			&.slick-current
				transform: scale(1.1)
				z-index: 1

				.project-slider__overlay
					opacity: 1

		&__btn
			position: absolute
			left: -20px
			right: -20px
			top: 24%
			display: flex
			align-items: center
			justify-content: space-between

			button
				background-color: transparent
				outline: none
				border: 0
				padding: 0
		
		&__overlay
			opacity: 0
			position: absolute
			left: calc(100% + 100px)
			top: 0
			bottom: 0
			display: flex
			align-items: center
			width: 340px
			padding: 0 65px
			background: #fff
			z-index: 10
			transition: all .3s


		&__text

			.h3
				margin-bottom: 25px

			ul
				padding-bottom: 10px
				padding-left: 18px

				li
					margin-bottom: 8px


			.btn
				font-size: 12px

.slick-arrow
	z-index: 10


.product

	&-slider


		.slick-track
			margin-left: 0
			margin-right: 0

		.slick-arrow
			top: 30%
			z-index: 10


			&::before
				content: ''
				width: 15px
				height: 15px

			&.slick-prev
				border-left: 2px solid $main
				border-bottom: 2px solid $main
				transform: rotate(45deg)



			&.slick-next
				border-right: 2px solid $main
				border-bottom: 2px solid $main
				transform: rotate(-45deg)



	&-wrap
		display: flex
		flex-wrap: wrap
		margin-left: -35px
		margin-right: -35px

		[class^="col"]
			padding-left: 35px
			padding-right: 35px

	&-item

		&__img
			display: block
			margin-bottom: 15px

		&__name
			min-height: 44px
			margin-bottom: 15px
			font-size: 16px

		&__price
			display: flex
			flex-wrap: wrap
			margin-bottom: 10px

			span
				width: 50%
				border: 1px solid $main
				text-align: center
				font-size: 20px
				color: $main

		&__bye
			width: 50%
			height: 32px
			display: flex
			align-items: center
			justify-content: center
			background: $main
			color: #fff
			font-size: 16px
			font-weight: 500

			&:hover
				color: #fff

		&__bottom
			
			a
				display: inline-block
				margin-right: 12px
				font-size: 12px

			.icon
				margin-right: 4px


	&-card
		margin-bottom: 50px

		.h1, h1
			margin-bottom: 10px

		&__wrap

			&.row
				margin-left: -25px
				margin-right: -25px

				[class^='col']
					padding-left: 25px
					padding-right: 25px


		&__slider
			margin-bottom: 20px
			border: 1px solid #E6E6E6
			border-radius: 6px

			.slick-dots
				list-style: none
				left: auto
				top: 15px
				bottom: auto
				width: auto
				right: 10px

				li
					display: block
					margin-bottom: 10px
					background: transparent
					border: 1px solid $main

					button
						background-color: transparent

						&:before
							content: ''

					&.slick-active
						background: $main





			&--item, &.slick-initialized .slick-slide
				outline: none

			

				img
					max-height: 100%


			&--wrap
				display: flex
				flex-wrap: wrap
				align-items: center

		

			&--nav
				
				width: calc(100% - 130px)

				.slick-slide
					position: relative
					margin-right: 10px
					cursor: pointer
					outline: none
					

					&.slick-current
						img
							border-color: $main

					img
						max-height: 100%
						max-width: 130px
						border: 1px solid transparent

			
		&__view
			font-size: 12px

			&--list
				margin-bottom: 5px
				list-style: none

			&--links
				list-style: none

				li
					

					a
						display: flex
						align-items: center
						span
							display: inline-block
							vertical-align: middle
							min-width: 75px
							font-style: italic


		&__info
			

			&--top
				display: flex
				align-items: center
				justify-content: space-between
				width: 100%
				margin-bottom: 20px


	&-type

		&__slider
			width: calc(100% - 30px)
			&--item

				input[type='radio']
					display: none

			.slick-arrow
				top: 30%

				&::before
					content: ''
					width: 15px
					height: 15px

				&.slick-prev
					border-left: 2px solid $main
					border-bottom: 2px solid $main
					transform: rotate(45deg)

				&.slick-next
					border-right: 2px solid $main
					border-bottom: 2px solid $main
					transform: rotate(-45deg)

		&__wrap

		&__item
			margin-bottom: 15px

		&__header
			margin-bottom: 5px
			font-size: 16px

			strong
				font-weight: 500

	&-model

		&__info
			margin-bottom: 20px
			list-style: none

			li
				display: inline-block
				margin-right: 35px
				font-size: 14px

				&:last-child
					margin-right: 0

				span
					font-weight: 300

				strong
					font-weight: 500


	&-order
		display: flex
		justify-content: space-between
		margin-top: 22px
		padding: 18px 44px
		border: 1px solid $main


		&__left
			max-width: 222px

			.btn
				width: 100%
				display: block
				margin-bottom: 5px
				padding: 6px 30px
				text-align: center
				font-size: 15px
				font-weight: 500
				text-transform: none
				box-shadow: none


		&__credit
			display: flex
			align-items: center
			margin-bottom: 5px

			span
				padding-left: 5px
				font-size: 12px
				line-height: 14px
				letter-spacing: -0.02em

		&__installment

			strong
				font-weight: 500



		&__price
			display: flex
			align-items: flex-end
			margin-bottom: 5px

			>strong
				padding-right: 10px
				font-weight: 500
				font-size: 36px
				line-height: 36px



		&__right

			.btn-yellow
				display: block
				text-align: center

	&-description
		margin: 30px 0 100px


.info-price
	font-size: 13px

	.icon
		vertical-align: middle








.color-green
	color: #5db314



select
	display: none



.jq-selectbox
	position: relative
	width: 180px
			
	.jq-selectbox__select-text
		position: relative
		padding: 8px 30px 8px 14px
		width: 100%
		border: 1px solid $main
		font-size: 16px
		font-style: italic
		font-weight: 500


		&::after
			content: ''
			position: absolute
			right: 15px
			top: 11px
			width: 12px
			height: 12px
			border-bottom: 1px solid $main
			border-left: 1px solid $main
			transform: rotate(-45deg)
			transition: all .3s


	&.opened
		.jq-selectbox__select-text
			border-color: #333
			color: #000
			&::after
				transform: rotate(135deg)
				border-color: #000

	&.changed
		.jq-selectbox__select-text
			color: #000

	.jq-selectbox__dropdown
		position: absolute
		top: 39px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		


		ul
			max-height: 145px !important
			padding: 10px 0
			list-style: none
			overflow-y: scroll
			border-top: none
			background: #F7F9FA
			border: 1px solid #000
			li
				padding: 10px 20px
				font-size: 14px
				line-height: 19px
				color: #000
				transition: all .3s

				&:hover
					background: #fff


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #F5F5F5


			&::-webkit-scrollbar
				width: 10px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #CCCCCC





.call-measurer
	position: relative
	padding: 10px 15px 10px 50px
	color: #fff
	font-size: 15px
	background: #5ea80d

	&::before
		content: ''
		position: absolute
		left: 18px
		top: 8px
		width: 23px
		height: 23px
		background: url(../img/angle-ic.png) no-repeat


.video-help
	position: relative
	padding: 0 30px 0 0
	font-size: 12px
	line-height: 14px

	&::before
		content: ''
		position: absolute
		right: 0
		top: 0
		width: 28px
		height: 25px
		background: url(../img/skype-ic.png) no-repeat

	span
		display: block

	strong
		font-weight: 500





.news

	&-wrap
		display: flex
		align-items: center
		flex-wrap: wrap


.videogallery
	padding: 50px 0
	background: #fbfbfb

	&-item

		&__img
			display: block
			margin-bottom: 10px

		.h4
			text-align: center






.reviews

	&-item
		display: flex
		flex-wrap: wrap
		margin-bottom: 50px

		&__img
			width: 73px

			img
				border-radius: 50%

		&__text
			padding-left: 30px
			width: calc(100% - 73px)

		&__top
			display: flex
			flex-wrap: wrap
			align-items: center


		&__author
			margin-right: 30px
			font-size: 18px
			font-weight: 500

	&-rating
		display: flex
		align-items: center

		&__block
			width: 84px
			height: 16px
			background: url('../img/star-grey.svg') repeat-x 0 0
			background-size: contain

		&__inner
			background: url('../img/star-green.svg') repeat-x 0 0
			background-size: contain
			font-size: 1px
			height: 16px
			text-indent: -9999px

.gallery
	overflow: hidden

	&-wrap
		margin-top: 60px

		&.row
			margin-left: -12px
			margin-right: -12px
			display: flex
			flex-wrap: wrap

			[class^=col]
				padding-left: 12px
				padding-right: 12px

	.fancybox
		display: block
		margin-bottom: 22px


.icon-block
	margin-bottom: 170px

	&__item
		text-align: center

		img
			display: block
			margin: 0 auto 25px

		span
			font-size: 22px
			font-weight: 500



.footer
	padding: 60px 0 20px
	background: #fbfbfb

	&-item

		&__header
			margin-bottom: 15px
			font-weight: 500
			font-size: 19px
			text-transform: uppercase
			color: $main
			letter-spacing: 0.08em

		p
			padding-left: 16px
			font-size: 12px
			line-height: 20px
			font-weight: 500

		.soc-btn
			margin-top: 20px
			padding-left: 16px


	&-list
		padding: 0 0 0 16px
		list-style: none

		li
			position: relative
			margin-bottom: 5px
			font-size: 14px
			line-height: 20px
			color: #2d2d2d
			letter-spacing: 0.02em

		&__marker

			li
				letter-spacing: 0.06em
				font-weight: 500

				&::before
					content: ''
					position: absolute
					left: -13px
					top: 7px
					width: 5px
					height: 5px
					background: #2d2d2d
					border-radius: 50%

	&-bottom
		margin-top: 20px
		display: flex
		flex-wrap: wrap
		align-items: center

		p
			font-size: 11px
			color: #8e8e8e
			line-height: 15px
			letter-spacing: -0.001em

	&-copy
		display: flex
		align-items: center

		>a
			width: 43px
			height: 37px

		>p
			width: calc(100% - 43px)
			padding-left: 10px

			a
				color: #70bae4



.form

	&-subscription
		margin: 20px 0 0
		padding-left: 16px
		max-width: 210px

		.btn
			padding: 6px 28px
			font-size: 12px
			box-shadow: none
			text-transform: none

	&-item
		margin-bottom: 10px


		input
			width: 100%
			height: 28px
			padding: 0 0 0 14px
			border: 1px solid $main
			outline: none

		textarea
			width: 100%
			height: 100px
			padding: 10px 0 0 14px
			border: 1px solid $main
			outline: none

	&-field
		height: 28px
		padding: 0 0 0 14px
		border: 1px solid $main
		outline: none


.soc-btn

	li
		display: inline-block
		margin-right: 10px

		&:last-child
			margin-right: 0





.tabs

	&-nav
		display: flex
		list-style: none
		border-bottom: 1px solid #D6DBE4

		li
			margin-right: 20px
			a
				display: block
				padding: 14px 0 14px
				font-size: 16px
				line-height: 20px
				font-weight: 600
				text-transform: uppercase

				&.active
					position: relative
					color: $main

					&::before
						content: ''
						position: absolute
						left: 0
						right: 0
						bottom: -2px
						height: 3px
						background: $main

				&:focus, &:hover
					opacity: 1
					color: $main

	&-item
		display: none
		padding-top: 20px

		.h3, h3
			margin-bottom: 15px

		&.active
			display: block











.inner
	padding-top: 155px

	h1, .h1
		font-size: 37px
		font-weight: 500
		line-height: 53px
		letter-spacing: 0.08em


.mobile-menu
	margin-top: 12px
	background: #5ea80d

	ul
		display: flex
		align-items: center
		justify-content: space-between
		padding: 8px 0
		list-style: none

		li
			background: #5ea80d

			img
				display: block


.modal
	max-width: 540px
	display: none

	.form-item
		margin-bottom: 15px

	.h2
		margin-bottom: 20px



.breadcrumbs
	margin: 0 0 10px
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		color: #999

		+ li::before
			content: "/"
			padding: 0 10px 0 8px


		a
			position: relative
			color: #999
			text-decoration: underline



.cart

	h1
		margin-bottom: 20px

	&-table
		margin-bottom: 30px
		width: 100%


		&__del
			padding: 0
			font-size: 20px
			border: none
			outline: none
			border-color: transparent
			background-color: transparent

		&__title
			display: block

		&__subtitle
			font-size: 13px

		&__total
			font-weight: bold

		thead

			tr
				td
					padding: 10px 10px
					border-bottom: 1px solid #D6DBE4
					font-style: normal
					font-weight: 600
					font-size: 14px
					line-height: 20px
					text-transform: uppercase
					color: #A3ABBB

					&:first-child
						padding-left: 0

					&:last-child
						padding-right: 0
						text-align: right

		tbody
			tr
				td
					padding: 10px 10px
					vertical-align: middle
					border-bottom: 1px solid #D6DBE4

					&:first-child
						padding-left: 0

					&:last-child
						padding-right: 0
						text-align: right

	&-total
		list-style: none
		text-align: right

		li
			display: flex
			align-items: center
			justify-content: flex-end
			margin-bottom: 10px
			font-size: 16px

			span
				min-width: 100px





		.form-field
			width: 80px


.order

	&-item
		margin-bottom: 50px
		padding: 30px 50px
		border: 1px solid #d6dbe4

		.h3
			margin-bottom: 20px

		&__account
			.radio-list
				li
					display: inline-block
					margin-right: 15px

		.form-item

			input, textarea
				border-color: #d6dbe4

			sub
				display: inline-block
				vertical-align: super
				color: red

		.h4
			margin-bottom: 10px

		p
			margin-bottom: 10px
			font-size: 15px

	
	form
		::-webkit-input-placeholder 
			color: #000
			font-size: 15px
			font-weight: normal
			font-style: normal

		:-moz-placeholder 
			color: #000
			font-size: 15px
			font-weight: normal
			font-style: normal


		::-moz-placeholder 
			color: #000
			font-size: 15px
			font-weight: normal
			font-style: normal


		:-ms-input-placeholder 
			color: #000
			font-size: 15px
			font-weight: normal
			font-style: normal
	
	&-bottom
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 100px

		.btn
			&:hover
				opacity: .8
				color: #fff


.catalog
	padding: 30px 0 0

	&-wrap
		display: flex
		flex-wrap: wrap

	&-content
		padding-left: 30px
		width: calc(100% - 220px)

		h1
			position: relative
			top: -11px

	&-filters
		width: 100%
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 15px
		padding: 10px 15px
		border: 1px solid #d6dbe4

		&__right
			display: flex
			align-items: center

			.catalog-filters__item
				margin-left: 50px

		&__item
			display: flex
			align-items: center
			img
				display: block
				margin-right: 10px
				vertical-align: middle

			.jq-selectbox
				width: 240px

				.jq-selectbox__select-text
					font-style: normal
					font-size: 14px

			&--count
				.jq-selectbox
					width: 70px


			>span
				display: inline-block
				margin-right: 10px
				font-size: 14px
				

		&__tile
			opacity: .6

			&.active
				opacity: 1

			&:hover
				opacity: 1
			img
				width: 20px

		&__list
			opacity: .6

			&.active
				opacity: 1

			&:hover
				opacity: 1
			img
				width: 22px

	&-row
		display: flex
		flex-wrap: wrap

		.product-item
			margin-bottom: 30px


.pagination
	margin: 50px 0
	list-style: none
	text-align: center

	li
		display: inline-block

		a
			display: block
			width: 40px
			height: 40px
			display: flex
			align-items: center
			justify-content: center
			color: #627898
			border-radius: 4px

			&.active
				background: $main
				color: #fff
				pointer-events: none
				cursor: default

			&:hover, &:focus
				opacity: 1
				color: #0E1931


	&-arrow
		a
			border: 1px solid $main

			


			&:hover, &:focus
				background: $main
				color: #fff

				i
					&::before
						border-color: #fff

		i
			position: relative
			transition: all .3s

			&::before
				content: ''
				position: relative
				width: 12px
				height: 12px
				display: block
				
				

		&__left
			&:before
				left: 2px
				border-left: 1px solid $main
				border-bottom: 1px solid $main
				transform: rotate(45deg)

		&__rigth
			&:before
				right: 2px
				border-right: 1px solid $main
				border-bottom: 1px solid $main
				transform: rotate(-45deg)







.sidebar
	width: 220px
	

	&-item
		margin-bottom: 30px
		border: 1px solid #d6dbe4

		.check-list
			padding: 0 10px

		&__header
			padding: 10px 15px
			border-bottom: 1px solid #d6dbe4
			color: $main
			font-weight: bold
			text-transform: uppercase
			background: rgba(0,0,0,.6)

		&__body
			padding: 20px 0 10px

	&-filter

		&__btn
			display: none

	&-menu
		list-style: none

		>li
			display: block
			>a
				display: block
				padding: 10px 32px 10px 10px
				border-bottom: 1px solid #d6dbe4
				font-weight: 500
				font-size: 14px


			&.drop
				

				>a
					position: relative

					&:before
						content: '+'
						position: absolute
						right: 10px
						top: 10px
						width: 20px
						height: 20px
						background: $main
						color: #fff
						display: flex
						align-items: center
						justify-content: center
						font-size: 20px
						line-height: 20px

					&.active
						&:before
							content: '-'


				ul
					display: none
					list-style: none

					li
						a
							position: relative
							display: block
							padding: 5px 20px
							font-size: 12px

							&:before
								content: '-'
								position: absolute
								left: 10px
								top: 3px
								font-size: 14px
								color: $main

	&-gallery
		display: flex
		flex-wrap: wrap

		&__item
			padding: 0 5px
			width: 33%

	
















#slider-range
	margin: 0 auto 0
	width: auto

.amount-wrapper
	position: relative
	display: flex
	justify-content: space-between

	margin: 11px 0 0 0
	padding: 0 10px
	input
		display: inline-block
		width: 94px
		height: 36px
		outline: none
		font-size: 14px
		color: #000
		border: 1px solid #d6dbe4
		text-align: center
	span
		display: block
		text-align: center
		padding: 5px 0
		color: #000
		font-size: 14px

	.ui-widget-header
		border: none
		background: #000

.ui-widget-content
	height: 7px
	border-radius: 10px
	background: #E8EDF5
	border: none

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	border: none
	width: 13px
	height: 13px
	border-radius: 50%
	background: $main

.ui-slider-horizontal
	.ui-slider-range
		height: 7px
		border-radius: 0
		background: $main
	.ui-slider-handle
		outline: none
		top: -3px
		margin-left: -.7em
		cursor: pointer

.price-filter__value
	padding: 10px 0 0
	font-size: 10px
	color: #BEBEBE










.radio-list
	margin-bottom: 10px
	list-style: none

	

	li
		display: block
		padding: 5px 0

	input[type="radio"]
		display: none

		&+label
			position: relative
			display: block
			padding: 0 0 0 30px
			cursor: pointer
			font-size: 15px
			line-height: 20px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 20px
				height: 20px
				border: 2px solid $main
				border-radius: 50%

		&:checked
			&+label
				&::after
					content: ''
					position: absolute
					left: 5px
					top: 5px
					width: 10px
					height: 10px
					background: $main
					border-radius: 50%

	&__pay

		input[type=radio]+label::before
			top: 8px

		input[type=radio]:checked+label::after
			top: 13px
		img
			display: inline-block
			vertical-align: middle
			margin-right: 5px


.check-list
	list-style: none

	li
		margin-bottom: 10px

	input[type="checkbox"]
		display: none

		&+label
			position: relative
			display: block
			padding: 0 0 0 28px
			cursor: pointer
			font-size: 14px
			line-height: 16px

			&::before
				content: ''
				position: absolute
				left: 0
				top: -1px
				width: 20px
				height: 20px
				display: flex
				align-items: center
				justify-content: center
				background-color: #fff
				border-radius: 0
				border: 1px solid #000


		&:checked
			&+label
				&::before
					background-image: url(../img/check.svg)
					background-repeat: no-repeat
					background-position: center

















.plus-minus
	display: inline-flex
	justify-content: space-around
	align-items: center
	width: 100px
	height: 32px

	button
		width: 32px
		height: 32px
		display: flex
		align-items: center
		justify-content: center
		border: none
		color: #fff
		padding: 0
		outline: none
		background: $main
		font-family: sans-serif
		line-height: 20px
		font-size: 18px

		&:hover
			background: $main
			color: #fff



.main-menu
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	list-style: none
	border-bottom: 1px solid #bcbcbc
	padding-bottom: 20px
	margin-bottom: 30px

	li
		
		a
			position: relative
			display: block
			color: #000
			opacity: .8
			text-transform: uppercase
			font-size: 12px
			font-weight: 500

			&.active
				font-weight: bold
				color: $main
				text-decoration: underline


			&:hover
				opacity: 1













@media only screen and (max-width: 1920px)
	.section
		margin-bottom: 100px

	.project
		margin-top: 100px

	.section-center
		margin-bottom: 100px




@media only screen and (max-width: 1365px)
	.header-search__form
		width: 170px

	.header-search__links li
		margin-right: 10px

		a
			font-size: 12px

	.header-call>span
		display: none

	.header-call__tel a
		font-size: 16px

	.header-call__messenger span
		font-size: 12px

	.header-cart__count
		width: 110px

	.header-cart__links li
		margin-right: 5px

		a
			font-size: 12px

	a.header-logo
		max-width: 160px

	.h1, h1
		font-size: 30px
		line-height: 40px

	.banner-overlay__text .h1, .banner-overlay__text h1
		margin-bottom: 20px

	.banner-overlay
		padding-top: 120px

	.banner-tags
		margin-top: 30px

	.project-slider__overlay
		padding: 0 35px
		left: calc(100% + 60px)
		width: 300px

	.icon-block__item span
		font-size: 16px

	.icon-block
		margin-bottom: 100px

	.slick-prev
		left: 0

	.slick-next
		right: 0

	.product-card__slider, .product-card__slider--nav
		max-width: 585px

	.product-card__info
		margin-top: 50px

	.product-card__info
		max-width: 600px

	.product-order
		margin-top: 50px

	.inner
		.header
			background: rgba(0,0,0,.6)

	.product-card__wrap.row
		margin-left: -15px
		margin-right: -15px

	.main-menu li a
		font-size: 11px

	.inner
		padding-top: 120px






@media only screen and (max-width: 1200px)
	.banner-overlay
		padding-top: 70px

	.catalog-filters
		display: block

	.catalog-filters__right
		margin-top: 15px
		.catalog-filters__item
			margin: 0 30px 0 0








@media only screen and (max-width: 992px)

	.sidebar
		display: none
		position: absolute
		left: 0
		top: 210px

		&.active
			display: block
			z-index: 100
			background: #fff

			.sidebar-filter__btn
				span
					background: #f5f5f5

	.sidebar-filter__btn
		position: absolute
		left: 0
		top: 210px
		outline: none
		border: none
		background-color: transparent


		&:hover, &:focus
			opacity: 1

		span
			position: relative
			display: inline-block
			writing-mode: vertical-rl
			text-orientation: upright
			text-transform: uppercase
			max-height: 250px
			font-size: 10px
			padding-bottom: 10px
			padding: 10px 10px 20px
			background: #fff
			border-radius: 2px
			border: 1px solid #eaeaea
			border-left: 0
			z-index: 100

			&::before
				content: '→'
				position: absolute
				left: 0
				bottom: 5px
				font-size: 14px

		&.active
			left: 220px
			span
				&::before
					content: '←'
	.catalog-content
		width: 100%

	.header
		position: absolute
		background-color: transparent

	.banner
		position: relative
		padding-top: 110px
		text-align: center

		img
			display: block
			min-height: 400px
		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			background: rgba(0,0,0,.8)

	.banner-overlay__text
		position: relative
		z-index: 10

	.mobile-menu

		ul
			width: 100%

	.banner-overlay__text .h1, .banner-overlay__text h1
		color: #fff
		text-align: center

	.banner-overlay__text
		max-width: none

	.banner-tags li a
		border-color: #fff
		color: #fff

	.project-slider__item.slick-current .project-slider__overlay
		position: static

	.project-slider__item.slick-current
		transform: none

		img
			margin: 0 auto

	.project-slider__overlay
		width: auto
		text-align: center
		justify-content: center
		padding: 20px 0

		ul
			list-style: none

	.project-slider__btn
		left: 0
		right: 0

	.section
		margin-bottom: 50px

	.banner
		margin-bottom: 50px

	.section-center
		margin-bottom: 50px

	.videogallery
		&-wrap
			.slick-track
				margin-left: 0
				margin-right: 0

			.slick-arrow
				top: 30%

				&::before
					content: ''
					width: 15px
					height: 15px

				&.slick-prev
					left: 30px
					border-left: 2px solid $main
					border-bottom: 2px solid $main
					transform: rotate(45deg)

				&.slick-next
					right: 30px
					border-right: 2px solid $main
					border-bottom: 2px solid $main
					transform: rotate(-45deg)

			img
				margin: 0 auto

	.tag-list
		margin: 15px 0 40px

	.section 
		.row
			margin-left: -10px
			margin-right: -10px

			[class^=col]
				padding-left: 10px
				padding-right: 10px

	.product-slider
		padding-left: 25px
		padding-right: 25px

	.h2, h2
		text-align: center

	.section-center .h2, .section-center h2
		margin-bottom: 40px

	.news-wrap
		display: block

		img
			display: block
			margin: 0 auto

		.h3
			text-align: center

	.gallery-wrap
		&.row
			display: block
			margin: 0 auto

			.row [class^=col]
				width: 100%

		.fancybox
			img
				display: block
				margin: 0 auto

	.gallery

		.h2
			margin-bottom: 30px

	.icon-block__item
		margin-bottom: 30px

	.icon-block
		margin-bottom: 50px

	.footer
		padding: 50px 0 20px

	.slick-slide img
		margin: 0 auto

	.h2, h2
		font-size: 24px

	.section .h2 span::before, .section h2 span::before
		display: none

	.footer-item
		margin-bottom: 30px
	
	.product-type__slider
		width: 100%

	.inner
		padding-top: 150px

	.inner .h1, .inner h1
		font-size: 30px
		line-height: 40px

	.cart-table
		img
			display: none

		tbody tr td:first-child, thead tr td:first-child
			display: none

	.cart-total
		margin-bottom: 30px







@media only screen and (max-width: 768px)
	.banner 
		img
			min-height: 470px

	.slick-next
		right: 15px
		z-index: 10

	.slick-prev
		left: 15px
		z-index: 10

	.videogallery-wrap .slick-arrow
		top: 38%

	.icon-block__item span
		font-size: 14px

	.banner-tags li
		margin-right: 10px
		margin-bottom: 10px

	p
		font-size: 15px
	

	.product-card__info--top
		display: block

	.jq-selectbox
		margin-bottom: 20px

	.call-measurer, .video-help
		display: block
		margin-bottom: 20px
	
	.inner .h1, .inner h1
		font-size: 28px
		line-height: 38px

	.product-order
		display: block

	.product-order__left
		max-width: none
		margin-bottom: 25px

	.product-order__right
		max-width: none

	.h3, h3
		
		font-size: 20px


	.section .h2+.product-slider, .section h2+.product-slider
		margin-top: 30px

	.product-description
		margin: 30px 0 60px

	.cart-table__block
		overflow-x: scroll
		

	.cart-table
		width: 600px

		thead tr td
			padding: 5px 4px
			font-size: 10px

		tbody tr td 
			padding: 5px 2px
			font-size: 11px

		.cart-table__subtitle, .cart-table__title
			max-width: 250px

	.order-item
		padding: 25px 30px


	.order-bottom
		margin-bottom: 70px
		display: block

		.btn
			display: block
			max-width: 320px
			margin-bottom: 10px

	.catalog-filters__right
		display: block

		.jq-selectbox
			margin-bottom: 0

	.catalog-filters__right .catalog-filters__item
		margin: 0 0 10px

	.catalog-row

		[class^="col"]
			width: 50%













@media only screen and (max-width: 479px)
	
	.header-logo
		width: 43px
		height: 37px
		background: url(../img/footer-logo.png)
		img
			display: none

	.banner-tags li a
		font-size: 10px

	.h1, h1
		font-size: 26px
		line-height: 34px

	.icon-block__item img
		max-width: 100px

	.icon-block__item span
		font-size: 12px

	.footer
		padding: 50px 20px 20px

	.product-order
		padding: 15px

	.btn
		font-size: 14px

	.catalog-row
		.row
			margin-left: -5px
			margin-right: -5px

			[class^='col']
				padding-left: 5px
				padding-right: 5px

		.product-item
			margin-bottom: 20px
			padding: 5px
			box-shadow: 0px 5px 5px 0px rgba(214,219,228,.5)

	.product-item__name
		font-size: 12px
		

	.product-item__img
		margin-bottom: 5px

	.product-item__price
		display: block
		margin-bottom: 5px

		span
			width: 100%
			display: block
			margin-bottom: 5px

		.product-item__bye
			width: 100%